* {
    box-sizing: border-box;
  }
  
  body {
    background:#f7f6f4;
    min-height: 100vh;
    font-weight: 400;
  }
  
  body,
  html,
  .App,
  .vue-tempalte,
  .vertical-center {
    width: 100%;
    height: 100%;
  }
  

  
  .vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;    
  }
  
  .inner-block {
    width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  
  .vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  label {
    font-weight: 500;
  }
  
  #loginBtn, #registerBtn{
    margin-top: 5px;
    display: block;
    color: #f7f6f4;
  }

  #loginForm, #registerForm{
    margin-top: 15px;
    width: 800px;
  }

  .activeButtons {
    background-color: #a0085f;
    color: whitesmoke;
    border-radius: 5px;
    border: 3px solid;
    border-color: #862e42;
    height: 30px;
    margin: 3px;
    margin-top: 10px;
    width: max-width;
    display: inline-block;
  }
  
  #centerCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #centerLogOutEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  #centerLogIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: columns;
  }

  #logOutEdit{
    width: 80%;
  }
  .activeButtonsEdit {
    border: 3px solid;
    border-color: #862e42;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #a0085f;
    width: 45%;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .rentalCard {
    width: 430px;
    display: block;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

  .scroll-title {
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
  }

  #titleHome {
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 20px;
    margin-bottom: 20px;
  }
  #carsContainerHome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
  }
  
  .carCard {
    align-items: center;
    border: 2px solid;
    border-color: #a0085f;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(34, 35, 58, 0.2);
    margin: 5px;
    width: max-content;
  }
  
.activeButtonsHome {
  background-color: #a0085f;
  color: black;
  border-radius: 5px;
  border: 3px solid;
  border-color: #862e42;
  height: 30px;
  margin: 10px;
  width: 25%;
  display: inline;
}
#centerHome{
  display: flex;
  justify-content: center;
  align-items: center;
}
#logOutHome{
  width: 20%;
}

nav {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #A0085F;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.link {
  width: max-content;
  text-decoration: none;
  color: whitesmoke;
  margin: 2px;
  padding: 5px;
  border: 2px solid#f56457;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#linkContainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.link:hover {
  background-color: #f56457;
  color: white;
}


  @media only screen and (max-width: 1080px) {
    #loginForm, #registerForm{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #loginBtn, #registerBtn{
        margin-top: 5px;
        display: block;
        flex-direction: column;
    flex-wrap: wrap;
      }

      #centerHome{
        flex-direction: column;

      }
      #activeButtonsHome{
        padding: 10px;
        width: 30%;
        flex-wrap: nowrap;
        display: block;
        margin: 0 auto;
      }
      .rentalCard{
       max-width: 100%;
       flex-wrap: wrap;
       flex-direction: column;
       margin: 10px;
       padding: 10px;
      
      }
      .card{
        width: 100%;
        flex-direction: column;
       
      } 


  }
  
  /* .rentalCard{
    width: 80%;
    flex-wrap: nowrap;
  }
  .card{
    width: 70%;
    flex-wrap: nowrap;
  } */
  
  
